VITE_Backend_URL=http://localhost:5000
VITE_GOOGLE_CLIENT_ID
VITE_LINKEDIN_CLIENT_ID
LINKEDIN_CLIENT_SECRET
VITE_LINKEDIN_REDIRECT_URI=http://localhost:5000/api/auth/linkedin
VITE_GA_MEASUREMENT_ID