DB_URL
DB_NAME
PORT
FRONTEND_URLS
JWT_ACCESS_SECRET
JWT_REFRESH_SECRET

CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET

LINKEDIN_REDIRECT_URI="http://localhost:5000/api/auth/linkedin/callback"
LINKEDIN_URL="https://www.linkedin.com/oauth/v2/accessToken"
LINKEDIN_URI="https://www.linkedin.com/oauth/v2/accessToken"
LINKEDIN_CLIENT_ID
LINKEDIN_CLIENT_SECRET

SENDGRID_SENDER
SENDGRID_API_KEY

REDIS_HOST
REDIS_PORT
REDIS_PASSWORD

GROQ_API_KEY
GEMINI_API_KEY
FCM_SERVER_KEY